<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">

          <div class="card-header px-4 py-5 text-gray-400 text-center">
            <h5 class="text-muted mb-0">Ordered Products <span style="color: #a8729a;"></span></h5>
          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
<p class="small text-muted mb-0">Your order Id : {{orderedDetails._id}}</p>
              <a href="/get-invoice/{{orderedDetails._id}}" class="btn btn-primary">Invoice</a>
              
            </div>
            {{#each orderProducts}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/uploads/{{this.product.image.[0].images}}" class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.product.Product}}</p>
                  </div>
                  {{!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.product.Color}}</p>
                  </div> --}}
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{../orderedDetails.paymentMethod}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><span style="color: rgb(0, 38, 255);">{{this.status}}</span></p>
                  </div>
                  {{!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{../orderedDetails.date}}</p>
                  </div> --}}
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center"> 
                   <a href="/view-oneOrder-product/{{../orderedDetails._id}}/?proId={{this.item}}&proLength={{../proLength}}&orderCancelCount={{../orderedDetails.orderCancelCount}}"
                    class="btn btn-primary">View</a>
                  </div>
                  {{!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <form action="/view-oneOrder-product" method="post">
                      <input type="text" name="orderId" value="{{../orderedDetails._id}}" hidden>
                      <input type="text" name="proId" value="{{this.item}}" hidden>
                      <button type="submit" class="btn btn-primary">VIEW</button>
                    </form>
                  </div> --}}
                </div>

              </div>
            </div>
            {{/each}}

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> {{orderedDetails.totalAmountToBePaid}}</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Date :{{orderedDetails.date}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> {{orderedDetails.couponDiscount}}</p>
            </div>

            {{!-- <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date :{{orderedDetails.date}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">GST 8%</span> {{GST}}</p>
            </div> --}}

            <div class="d-flex justify-content-between mb-5">
              <p class="text-muted mb-0">Recepits Voucher : {{orderedDetails._id}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Shipping Charges</span>₹40.00 </p>
            </div>
            {{#if orderedDetails.RazorPay}}
            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0"></p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Refund</span> ₹ {{orderedDetails.reFund}} </p>
            </div>
            {{else}}
            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0"></p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Refund</span> ₹ 0.00 </p>
            </div>
            {{/if}}
          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h6 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span class="h4 mb-0 ms-2">₹ {{orderedDetails.totalAmountToBePaid}}</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>