<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<main>

    <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mt-5">
            <div class="carousel-item active">
                <img src="https://www.apple.com/v/iphone/home/bh/images/overview/ios-16/ios16_preview__fpxyj72zmsuq_large_2x.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/shopping">
                        <h5>SHOP NOW</h5>
                    </a>
                    <p>With Apple Trade In, you can get credit towards a new iPhone when you trade in your eligible
                        smartphone</p>
                </div>
            </div>
            {{!-- <div class="carousel-item">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/lshruthi/Alexa/AHF_CasbackOffer_1242x450_D48296751.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div> --}}
            {{!-- <div class="carousel-item">
                <img src="https://images.samsung.com/is/image/samsung/assets/in/9260_A52s-Launch-EStore_Desktop_1440x640.jpg?imwidth=1366"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div> --}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!--? slider Area Start -->
    {{!-- <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New
                                    Smart Phone Now!</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat is aute irure.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s"
                                    data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="img/hero/home.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New
                                    Perfect Style</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat is aute irure.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s"
                                    data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="img/hero/image4.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- slider Area End-->
    <!-- ? New Product Start -->




    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="row ">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-title ">
                            <h1>Latest Mobile Phones</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    {{!-- <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a> --}}
                    <a class="btn btn-primary mb-3 " href="/shopping" role="button" data-slide="next">
                        MORE
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <div class="row">
                                    {{#each newArrivals}}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                        <div style="min-width: 280px;"
                                            class="card col-lg-3 col-11 col-sm-10 col-md-8 m-4 text-center">
                                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                                <img style="height: 250px;" src="/uploads/{{this.image.[0].images}}"
                                                    alt="" class="img-fluid product-img" />
                                                <a href="/prod-details/{{this._id}}">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {{this.Product}}
                                                </h5>


                                                <p class="card-text"><strong><del style="color: rgb(73, 69, 69);"> MRP :
                                                            {{this.currentPrize}}
                                                        </del><br>Price : {{this.Prize}}</strong>
                                                </p>
                                                <p class="card-text heartbeat"><strong
                                                        style="color: rgb(0, 128, 90);">Offer :
                                                        {{this.Offer}}%</strong></p>
                                                {{#if ../user}}
                                                <button class="btn btn-danger"
                                                    onclick="addTowishlist('{{this._id}}')"><i
                                                        class="fa-solid fa-heart"></i></button>
                                                <button class="btn btn-success" onclick="addToCart('{{this._id}}')"><i
                                                        class="fa-solid fa-cart-plus"></i></button>


                                                {{else}}
                                                <a href="/user-login"><button class="btn btn-danger"><i
                                                            class="fa-solid fa-heart"></i></button></a>
                                                <a href="/user-login"><button class="btn btn-success"><i
                                                            class="fa-solid fa-cart-plus"></i></button></a>
                                                {{/if}}
                                                {{!-- <button class="btn btn-danger"
                                                    onclick="addTowishlist('{{this._id}}')"><i
                                                        class="fa-solid fa-heart"></i></button>
                                                <button class="btn btn-success" onclick="addToCart('{{this._id}}')"><i
                                                        class="fa-solid fa-cart-plus"></i></button> --}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="brand-area pb-md-2 pb-lg-2 pb-xl-2 px-4 mt-3 ">
        <div class="container pt-5">

            <div class="row justify-content-center mb-4">
                <div class="col-lg-12 ">
                    <div class="section-title ">
                        <h1>Shop By Brands</h1>
                    </div>
                </div>
            </div>

            <div class="row " style="background-color: #f0f2f5;">
                {{#each brands}}
                <a class="col single-img" href="/oneBrand/{{this.brand}}">
                    <img class="img-fluid d-block mx-auto rounded-circle" src="/uploads/{{this.logo}}" alt="">
                </a>
                {{/each}}

            </div>
        </div>
    </section>


    <!--? Popular Items Start -->
    <div class="popular-items  mt-5 mb-4">
        <div class="container">
            <!-- Section tittle -->
            <div class="row ">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-title ">
                        <h1>Most Popular Mobile Phones</h1>
                    </div>
                </div>
                <div class="row">
                    {{#each products}}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        {{!-- <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">

                                <a href="/prod-details/{{this._id}}"> <img
                                        style="height: 40 px !important;width: 50 px !important;"
                                        src="/uploads/{{this.image.[0].images}}" alt=""></a>

                                <div class="img-cap">
                                    <span><button style="background-color:transparent;border:none"
                                            onclick="addToCart('{{this._id}}')">Add to Cart</button></span>
                                </div>

                                <button class="favorit-items" style="border-color:transparent; background-color:white;"
                                    onclick="addTowishlist('{{this._id}}')"><span style="color:red"
                                        class="flaticon-heart"></span></button>

                            </div>
                            <div class="popular-caption">
                                <h3><a href="/prod-details/{{this._id}}">{{this.Product}}</a></h3>
                                <span>₹ {{this.Prize}}</span>
                            </div>
                        </div> --}}

                        <div style="min-width: 280px;" class="card col-lg-3 col-11 col-sm-10 col-md-8 m-4 text-center">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img style="height: 250px;" src="/uploads/{{this.image.[0].images}}" alt=""
                                    class="img-fluid product-img" />
                                <a href="/prod-details/{{this._id}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{this.Product}}
                                </h5>
                                {{!-- <div class="text-warning">

                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>

                                </div> --}}
                                <p class="card-text"><strong><del style="color: rgb(73, 69, 69);"> MRP :
                                            {{this.currentPrize}}
                                        </del><br>Price : {{this.Prize}}</strong>
                                </p>
                                <p class="card-text heartbeat"><strong style="color: green;">Offer :
                                        {{this.Offer}}%</strong></p>

                                {{#if ../user}}
                                <button class="btn btn-danger" onclick="addTowishlist('{{this._id}}')"><i
                                        class="fa-solid fa-heart"></i></button>
                                <button class="btn btn-success" onclick="addToCart('{{this._id}}')"><i
                                        class="fa-solid fa-cart-plus"></i></button>


                                {{else}}
                                <a href="user-login"><button class="btn btn-danger"><i
                                            class="fa-solid fa-heart"></i></button></a>
                                <a href="user-login"><button class="btn btn-success"><i
                                            class="fa-solid fa-cart-plus"></i></button></a>
                                {{/if}}

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <!-- Button -->

            </div>
        </div>
        <!-- Popular Items End -->
        <!--? Video Area Start -->
        <div class="video-area mt-3 mb-3 mt-4">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="video-wrap">
                            <div class="play-btn "><a class="popup-video"
                                    href="https://www.youtube.com/watch?v=YeIC0rpPvvc"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Arrow -->
                <div class="thumb-content-box">
                    <div class="thumb-content">
                        <h3>Next Video</h3>
                        <a href="#"> <i class="flaticon-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Area End -->
        <!--? Watch Choice  Start-->

        <section class="new-product-area mt-5 mb-5 ">
            <div class="container">
                <!-- Section tittle -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-tittle  ">
                            <h2></h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="https://rukminim2.flixcart.com/image/416/416/ktx9si80/mobile/v/s/i/narzo-50a-rmx3430-realme-original-imag75kyzgwuy6yn.jpeg?q=70"
                                    alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html"></a>REALME Narzo 50A</h3>
                                <span> ₹ 11,449 <del style="color: gray; font-size: 01.rem;"> ₹ 12,999</del></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="https://rukminim2.flixcart.com/image/416/416/kzhbfrk0/mobile/v/6/5/-original-imagbgxfvfhyyxmr.jpeg?q=70"
                                    alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html">OPPO Reno7 Pro 5G</a></h3>
                                <span> ₹ 39,999 <del style="color: gray; font-size: 01.rem;"> ₹ 47,990</del></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="https://rukminim2.flixcart.com/image/416/416/l1whaq80/mobile/a/9/k/-original-imagdd6ryhkmktce.jpeg?q=70"
                                    alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html">REDMI Note 10T 5G </a></h3>
                                <span> ₹ 11,999 <del style="color: gray; font-size: 01.rem;"> ₹ 12,999</del></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {{!-- <div class="watch-area m-5">
            <div class="container">
                <div class="row align-items-center justify-content-between padding-130">
                    <div class="col-lg-5 col-md-6">
                        <div class="watch-details mb-40">
                            <h2>Watch of Choice</h2>
                            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            <a href="shop.html" class="btn">Show Watches</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="choice-watch-img mb-40">
                            <img src="img/gallery/choce_watch1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="choice-watch-img mb-40">
                            <img src="img/gallery/choce_watch2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="watch-details mb-40">
                            <h2>Watch of Choice</h2>
                            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            <a href="shop.html" class="btn">Show Watches</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- Watch Choice  End-->
        <!--? Shop Method Start-->
        {{!-- <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- Shop Method End-->
</main>


<style>
    .btn::before {
        background-color: rgb(30, 61, 202);
    }

    .video-area {
        background-image: url("https://www.gizbot.com/img/2022/04/oppo-f21-pro-5g-review2-1650346981.jpg");
        width: 100%;
        height: 700px;
        1920 × 700 px
    }
</style>

<script>
    function addToCart(proId) {
        $.ajax({
            url: "/add-to-cart/" + proId,
            method: "get",
            success: (Response) => {
                if (Response) {
                    //location.reload()
                    let count = $('#cart-count').html()
                    count = parseInt(count) + 1
                    $("#cart-count").html(parseInt(count))
                }
            }
        })
    }
    function addTowishlist(proId) {
        $.ajax({
            url: "/add-to-wishList/" + proId,
            method: "get",
            success: (Response) => {
                if (Response) {
                    //location.reload()
                    let count = $('#wishList-count').html()
                    count = parseInt(count) + 1
                    $("#wishList-count").html(parseInt(count))
                }
            }
        })
    }

</script>